/* =============
    Navigation
============= */
nav{
    display: none;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 80vw;
    z-index: 50;

    @include md{
        width: 50vw;
    }

    @include lg{
        width: 20vw;
    }

    >section{
        display: grid;
        grid-template-rows: repeat(8,1fr);
        height: 100%;
        position: relative;
        width: 100%;

        div{
            background-color: $blue;
            height: 100%;
            width: 100%;
        }

        ul{
            left: 0%;
            position: absolute;
            right: 0%;
            top: 10%;
            width: 100%;

            li{
                width: 100%;

                button{
                    background-color: $blue;
                    border: none;
                    color: $white;
                    cursor: pointer;
                    font-size: rem-calc(30);
                    padding: 20px 5%;
                    text-align: left;
                    text-decoration: none;
                    transition: 0.5s;
                    width: 100%;
                }

                button:hover{
                    background-color: $white;
                    color: $pink;
                }
            }
        }
    }
}
